
<!DOCTYPE html>
<html style = "background-color:rgba(0,0,0,0.2)">
  <head>
    <script src = "js/lib/jquery-1.11.2.min.js"></script>
    <script src = "js/lib/utility.js"></script>
    <script src = "js/lib/sketchcanvas.js"></script>
    <script src = "js/lib/floatingcanvas.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src = "https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <link rel = "stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

    <style type = "text/css">*{margin : 0; padding : 0;}</style>
  </head>
  <body>
    <canvas id = "background_canvas" style = "background-color:rgba(0,0,0,0.0)"></canvas>
    <script type = "text/javascript">
      $("#background_canvas").mouseover(function(e){
        focus_out();
      });

      var issue;
      var issue_tree = [];
      var socket = io();                                                        
      var focused_canvas;

      SketchCanvas.init($(window).width() / 2, $(window).height() / 2, '#c0ffee');
      $("#background_canvas").width($(window).width()).height($(window).height()).css("opacity", "0.8");
      $("#background_canvas").bind('contextmenu', function(e){
        return false;
      }); 
      $("#background_canvas").mouseup(function(e){
        switch(e.which){
          case 1:
            on_left_click(); break;
          case 3:
            on_right_click(); break;
        }
      });
      function on_left_click(){
        switch(SketchCanvas.state){
          case "active":
            SketchCanvas.clear(); break;
          case "inactive":
            SketchCanvas.display(); break;
        }
      }
      function on_right_click(){
        transit(issue_tree[issue_tree.length - 2]);
      }

      function transit(new_issue){
        if( ! new_issue){return;}
        issue = new_issue;
        issue_tree.push(issue);
        while(issue_tree.indexOf(issue) + 1 < issue_tree.length){
          issue_tree.pop();
        }
        FloatingCanvasList.clear();
        //socket.emit("init_bord", issue);
        refresh_bord();
      }
      socket.on('transit', function(new_issue){
        transit(new_issue);
      });
      socket.on('add_idea', function(idea){
        add_idea(idea);
      });
      socket.on('delete_floating_canvas', function(idea_id){
        fc = FloatingCanvasList.find_by_id(idea_id);
        if(fc){FloatingCanvasList.remove(fc);}
      });

      function focus_on(canvas){
        focused_canvas = canvas;
        focused_canvas.focus_on();
      }
      function focus_out(){
        if( ! focused_canvas){return;}
        focused_canvas.focus_out();
        focused_canvas = null;
      }

function refresh_bord(){
  var current_id_list = FloatingCanvasList.get_id_list();
  socket.emit("update", current_id_list, issue);
}
setInterval("refresh_bord()", 10000);
</script>
  </body>
</html>

