
<html>
<body>
<center>
  <h1>株式会社DebateSquare</h1>
  <h2>貸借対照表<h2>
      <table border="1">
        <tr>
          <td>A</td>
        <tr>
          <td>host</td>
          <td>@</td> 
          <td>194.168.221.45</td>
        </tr>
          <td>CNAME</td>
        <tr>
          <td>host</td>
          <td>www</td> 
          <td>reasons.xargue.com</td>
        </tr>
        </tr>
      </table>
  </center>
</body>
<html>
